<h2 class="title">Cart</h2>

<p>
    <a routerLink="/shipping">Shippiing Prices</a>
</p>

<div class="cart-item" *ngFor="let item of items">
    <span class="itemDetail">{{item.name}}</span>
    <span class="itemDetail">{{item.price | currency}}</span>
    <button class="btnCart" (click)="downQuantity(item.id)"> - </button>
    <span class="itemDetail">{{item.quantity}}</span>
    <button class="btnCart" (click)="upQuantity(item.id)"> + </button>
    <button class="btnRemove" (click)="removeItem(item.id)">X</button>
</div>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
    <div>
        <label>
                Name
            </label>
        <input id="name" type="text" formControlName="name" />
    </div>
    <div>
        <label>
                Address
            </label>
        <input id="address" type="text" formControlName="address" />
    </div>
    <button class="button" type="submit">Purchase</button>
</form>