.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding-top: 14px;
    width: 100%;
    background-color: dodgerblue;
    color: white;
    text-align: center;
    height: 68px;
}

p {
    color: white;
}